.profile-page h1 {
    font-size: 25px; /* Adjust the font size as needed */
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-bottom: 20px; /* Adjust the bottom margin as needed */
    /* Other styles, if any */
  }
  